{%- doc -%}
  Intended for use in a block similar to the text block.

  @param {string} [class] - custom class to define in addition to text-block classes
  @param {string} [fallback_text] - fallback text if settings.text does not exist
  @param {object} [block] - The block object
  @param {string} [width] - width of the text block
{%- enddoc -%}

{% liquid
  assign block_settings = block.settings
  assign plain_text = block_settings.text | strip_newlines | strip
  assign visible_text = plain_text | strip_html
  assign text_width = width | default: block_settings.width

  if block_settings.type_preset == 'rte' or block_settings.type_preset == 'paragraph'
    assign is_rte = true
  endif

  capture text_block_classes
    if text_width == '100%'
      echo 'text-block--align-' | append: block_settings.alignment
      if block_settings.max_width == 'none'
        echo ' text-block--full-width '
      endif
    endif
    if block_settings.type_preset == 'custom'
      echo ' custom-typography '
      if block_settings.font_size != ''
        echo ' custom-font-size '
      endif
      if block_settings.color != ''
        echo ' custom-color '
      endif
    endif
    if block_settings.background
      echo ' text-block--background '
    endif
    if is_rte
      echo ' rte '
    endif
  endcapture
%}

{% capture attributes %}
  class="{{ class }} spacing-style text-block text-block--{{ block.id }} {{ block_settings.type_preset }}
    {{ text_block_classes }}
  "
  style="
    --padding-block-start: {{ block_settings.padding-block-start | default: 0 }}px;
    --padding-block-end: {{ block_settings.padding-block-end | default: 0 }}px;
    --padding-inline-start: {{ block_settings.padding-inline-start | default: 0 }}px;
    --padding-inline-end: {{ block_settings.padding-inline-end | default: 0 }}px;
    {%- if block_settings.type_preset == 'custom' -%}
      {%- if block_settings.color != blank -%}
        --color: {{ block_settings.color }};
      {%- endif -%}
      {%- if block_settings.font_size != blank -%}
        --font-size: {{ block_settings.font_size }};
      {%- endif -%}
      {%- if block_settings.font != blank -%}
        --font-family: {{ block_settings.font }};
        --font-weight: {{ block_settings.font | replace: 'family', 'weight' }};
      {%- endif -%}
      --text-transform: {{ block_settings.case | default: 'none' }};
      --text-wrap: {{ block_settings.wrap | default: 'pretty' }};
      {%- if block_settings.line_height != blank -%}
        --line-height: var(--line-height--body-{{ block_settings.line_height }});
      {%- endif -%}
      {%- if block_settings.letter_spacing != blank -%}
        --letter-spacing: var(--letter-spacing--body-{{ block_settings.letter_spacing }});
      {%- endif -%}
    {%- endif -%}
    --width: {{ text_width }};
    {%- if text_width == '100%' -%}
      --text-align: {{ block_settings.alignment | default: 'left' }};
    {%- endif -%}
  "
  {{ block.shopify_attributes }}
{% endcapture %}

{% liquid
  assign element = 'div'
  if is_rte
    assign element = 'rte-formatter'
  endif
%}

{% if fallback_text != blank and visible_text == blank %}
  <div {{ attributes | strip_newlines | strip }}>
    {{ fallback_text }}
  </div>
{% elsif plain_text != blank %}
  <{{ element }} {{ attributes | strip_newlines | strip }}>
    {{ block.settings.text }}
  </{{ element }}>
{% endif %}

{% stylesheet %}
  .text-block {
    width: var(--width);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-block-start: var(--padding-block-start, 0px);
    padding-block-end: var(--padding-block-end, 0px);
    padding-inline-start: var(--padding-inline-start, 0px);
    padding-inline-end: var(--padding-inline-end, 0px);
  }

  .text-block > * {
    width: var(--width);
    max-inline-size: min(100%, var(--max-width, 100%));
    text-align: var(--text-align, left);
    text-wrap: var(--text-wrap);
  }

  .text-block:not(.text-block--full-width).rte,
  .text-block:not(.text-block--full-width).paragraph {
    text-wrap: balance;
    text-wrap: pretty;
  }

  .text-block:not(.text-block--full-width):is(.h1, .h2, .h3, .h4, .h5, .h6) {
    text-wrap: balance;
  }

  .text-block.h1 > * { font-size: var(--font-h1--size); font-weight: var(--font-h1--weight); }
  .text-block.h2 > * { font-size: var(--font-h2--size); font-weight: var(--font-h2--weight); }
  .text-block.h3 > * { font-size: var(--font-h3--size); font-weight: var(--font-h3--weight); }
  .text-block.h4 > * { font-size: var(--font-h4--size); font-weight: var(--font-h4--weight); }
  .text-block.h5 > * { font-size: var(--font-h5--size); font-weight: var(--font-h5--weight); }
  .text-block.h6 > * { font-size: var(--font-h6--size); font-weight: var(--font-h6--weight); }

  .custom-typography > * {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
  }

  .custom-color,
  .custom-color > :is(h1, h2, h3, h4, h5, h6, p, *) {
    color: var(--color);
  }

  .text-block--align-center,
  .text-block--align-center > * {
    margin-inline: auto;
  }

  .text-block--align-right,
  .text-block--align-right > * {
    margin-inline-start: auto;
  }
{% endstylesheet %}
