<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="">
<link rel="canonical" href="{{ canonical_url }}">

<title>{{ page_title | escape }}</title>


<!-- Shopify Fonts -->
<style>
{{ settings.font_body | font_face }}
{{ settings.font_heading | font_face }}
</style>


<!-- Typography -->
<style>

body{
  font-family: {{ settings.font_body.family }}, sans-serif;
  font-size: {{ settings.body_font_size }}px;
  color: {{ settings.color_body_text }};
  background: {{ settings.color_main_bg }};
}

h1,h2,h3,h4,h5,h6{
  font-family: {{ settings.font_heading.family }}, sans-serif;
  font-size: {{ settings.heading_font_size }}px;
}

</style>


<link rel="stylesheet" href="{{ 'index.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'cart-drawer.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'contact.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'wishlist.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'hero-slider.css' | asset_url }}">

{{ content_for_header }}

</head>


<body>

{% section 'header' %}

<main id="MainContent">
{{ content_for_layout }}
</main>

{% section 'footer' %}

</body>
</html>